.dragon-tiger-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: transparent;
  .left-col {
    background-color: transparent;
  }
  .round-id-header {
    width: 100%;
    height: 31px;
    margin: auto;
    background: rgb(82, 82, 82);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      padding: 3px 5px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: white;
    }
    .right {
      height: 100%;
      button {
        padding: 3px 5px;
        height: 100%;
        border: none;
        outline: none;
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107;
      }
    }
  }

  .last-result {
    width: 100%;
    margin-top: 0px;
    padding: 0.5rem;
    background-color: #6c757d !important;
    height: 31.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400 !important;
    font-size: 13px !important;
  }
  .result-circles {
    display: flex;
    width: 100%;
    gap: 12px !important;
    flex-wrap: wrap;
    background-color: white !important;
    padding: 8px;
    .circle {
      margin-block: 0.5rem !important;
    }
  }
  .dragon-tiger {
    width: 100%;
    background: #f5f5f5;
    border: 1px solid #ddd;

    .top-bar {
      background: #555;
      color: #fff;
      font-size: 14px;
      padding: 6px 12px;
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      font-weight: 600;
    }

    .cards {
      display: grid;
      background: #fff;
      grid-template-columns: 36% 28% 36%;
      .card {
        //   flex: 1;

        text-align: center;
        padding: 0.75rem;
        border: none;
        border-right: 1px solid #dee2e6;
        background-color: #f2f2f2;
        &:last-child {
          border-right: none;
        }

        .count {
          color: red;
          font-size: 17px;
          font-weight: 400;
        }

        .btn {
          width: 100%;
          background: #090600;
          color: #fff;
          border: none;
          // padding: 12px 0;
          font-size: 1rem;
          font-weight: 300;
          border-radius: 4px;
          cursor: pointer;
          height: 36px;
          border-radius: 0.25rem;
          transition:
            color 0.15s ease-in-out,
            background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
        }
        .lock {
          position: relative;
          cursor: not-allowed;
          opacity: 0.65;
          &::after {
            content: " 🔒";
            position: absolute;
            left: 0%;
            top: 0%;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            background-color: rgba(0, 0, 0, 0.6);
          }
        }

        .odds {
          font-size: 16px;
          color: #222;
          font-weight: 400;
        }
      }
    }
  }
  .game-section {
    background-color: transparent !important;
    position: relative;
    .card-area-box {
      display: flex;
      position: absolute !important;
      top: 3px;
      left: 3px;
      img {
        max-width: 25px;
        gap: 10px;
      }
      @media screen and (max-width: 767px) {
        gap: 10px;
      }
    }
  }
}
