.teenpatti-container {
  font-family: sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  background: #fff;
  width: 96%;
margin: auto;
background-color: transparent;
@media screen and (max-width: 767px) {
      width: 100%;
    }
.round-id-header{
  width: 90%;
  height: 31px;
  margin: auto;
  background: rgb(82, 82, 82);
  display: flex;
  justify-content: space-between;
  align-items: center;
@media screen and (max-width: 767px) {
      width: 100%;
    }
  .left{
    padding: 3px 5px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
  }
  .right{
    height: 100%;
    button{
      padding: 3px 5px;
      height: 100%;
      border: none;
      outline: none;
         color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;

    }
  }
}
  .back {
    background-color: #72c3f6;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  .left-col {
    width: 100%;
    @media screen and (max-width: 767px) {
      width: 100%;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #4b5965;
      color: #fff;
      padding: 10px 20px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      min-height: 50px;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        //  font-size: 20px;
      }

      .left {
        width: fit-content;
        white-space: nowrap;
        display: flex;
        align-items: center;

        span {
          // color: #00b4ff;
          margin-left: 3px;
          display: flex;
          align-items: center;
        }
      }

      .center, .right {
        font-size: 13px;
      }
    }

    .game-section {
      .timer {
        position: absolute;
        bottom: 10px;
        left: 0%;
        width: 100%;
        text-align: center;
      }

      // background: #000;
      color: #fff;
      border: 0;
      height: 240px;
      // padding: 20px;
      position: relative;

      iframe {
        width: 100%;
        height: 240px;
      }

      .card-area-box-teenpatti{
        position: absolute;
        top: 0%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
         @media screen and (max-width: 767px) {
       width: 94%;
      left: 3%;
      top: 5px;
      }
        .card-area-left-col{
          .top-card{
            display: flex;
            align-items: center;
            gap: 4px;
          img{
            max-width: 25px;
          }

          }
          .bottom-label{
            text-align: center;
            font-size: 12px;
            margin-top: 4px;
              background: #000000bf;
          }
        }
        .card-area-right-col{
 .top-card{
            display: flex;
            align-items: center;
            gap: 4px;
          img{
            max-width: 25px;
          }

          }
          .bottom-label{
            text-align: center;
            font-size: 12px;
            margin-top: 4px;
              background: #000000bf;
          }
        }
      }
      // .card-area {
      //   position: absolute;
      //   left: 5%;
      //   top: 40%;
      //   transform: translateY(-50%);
      //   // .player {
      //   //   margin-block: 10px;
      //   // }

      //   // .card-col {
      //   //   img {
      //   //     width: 28px;
      //   //     margin-right: .5rem;

      //   //   }
      //   // }

      // }
    }

    .last-result {
     width: 82%;
  margin-top: 0px;
  padding: .5rem;
  background-color: #6c757d !important; 
  height: 31.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400 !important;
  font-size: 13px !important;
  color: white;
   @media screen and (max-width: 767px) {
      width: 100%;
    }
    }


    .result-circles {
      display: flex;
      gap: 6px;
      padding: 8px 10px;
      justify-content: flex-start;
      // background: white !important;
      border-bottom: 1px solid #e6e6e6;
      margin: 0;
      display: flex;
        width: 82%;
        gap: 80px !important;
        background-color: white !important;
 @media screen and (max-width: 767px) {
        gap: 0px !important;
        justify-content: space-between;
        width: 100%;
      }
  .circle {
        margin-block: .5rem !important;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
        font-weight: 800;
        line-height: 28px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
        border: 1px solid rgba(0, 0, 0, 0.08);

        &.A {
          background-color: red;
        }

        &.B {
          background-color: #1e90ff;
        }
      }
    }
  }

  .right-col {
    width: 33.33333333%;
    display: none;
    @media screen and (max-width: 767px) {
      width: 100%;
    }

    .my-bet {
      background: #ddd;
      padding-left: 20px;
      height: 400px;
      @media screen and (max-width: 767px) {
        padding-left: 0%;
      }

      .title {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 4px;
        padding: 10px 16px;
        align-items: center;
        border: 0;
        display: flex;
        background: #2c3e50;
        border-radius: 0;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }

      .sub-title {
        font-size: 12px;
        color: #444;
        margin-bottom: 10px;
      }

      .bet-table {
        width: 100%;
        background: #fff;
        border-collapse: collapse;
        margin-bottom: 10px;

        th {
          text-align: left;
          padding: 6px;
          font-size: 12px;
          background-color: #d7d7d7;
        }
      }

      .see-btn {
        width: 100%;
        display: flex;
        justify-content: center;

        .see-all {
          background: #212529;
          color: #fff;
          padding: 8px 16px;
          cursor: pointer;
          border-radius: 4px;
          border: none #212529;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
  }
}


.rate-table-container {
  font-family: Arial, sans-serif;
  width: 100%;
  border-collapse: collapse;

  .rate-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eaeaea;
    border-bottom: 1px solid #fff;

    &.rate-minmax {
      font-size: 14px;
      font-weight: 500;
      background: #9adcae;

      span {

        width: 60%;
        min-width: 60%;
        max-width: 60%;
        padding-left: 5px;
      }

      .back-header {
        background: #9adcae;
        color: #000;
        font-weight: bold;
        padding: 5px 0;
        text-align: center;
        width: 40%;
        min-width: 40%;
        max-width: 40%;
      }
    }

    .player-name {
      font-size: 15px;
      font-weight: 500;
      width: 60%;
      min-width: 60%;
      max-width: 60%;
      padding-left: 5px;
    }

    .rate-box {
      background: #72c3f6;
      padding: 5px 0;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      width: 40%;
      min-width: 40%;
      max-width: 40%;
      position: relative;

      .overlay {
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          color: white;
        }
      }

      .rate {
        font-size: 14px;
        font-weight: bold;
        color: #000;
      }

      .stake {
        font-size: 11px;
        color: #000;
      }
    }
  }
}

.secondary-heading {
  font-size: 16px !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.main-header {
  border-collapse: collapse !important;
}

.header {
  background: #2c3d50 !important;
  padding: 10px !important;
  @media only screen and (max-width: 599px) {
    padding: 8px 20px !important;
  }
}

.player {
  font-weight: 600;
  color: #fff;
  font-size: 15px;
}

.back-header {
  font-size: 16px;
  line-height: 15px;
  font-weight: 400 !important;
  background: #72bbef;
}

.result-circles {
  padding: 2px !important;
  margin: 0 2px 8px 2px;
}


.my-bet-title {
  font-family: Arial, Helvetica, sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  color: #fff;
}

.personal-info-content {
  th {
    font-size: 14px !important;
    font-weight: 600 !important;
  }
}

.h-0 {
  height: auto !important;
}
